/* CSS Phone */

.nav-row {
  background-color: red;
  height: 20vh;
}

.main-body-phone-row {
  background-color: orange;
  height: 80vh;
}

.phone-card {
  height: 28vh;
  flex-direction: row;
}

.phone-card-pic {
  /* background-image: url("https://thumbor.forbes.com/thumbor/fit-in/0x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fi.forbesimg.com%2Fmedia%2Flists%2Fteams%2Fatlanta-falcons_416x416.jpg"); */
  order: 1;
  /* background-repeat: no-repeat;
  background-size: cover; */
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 100%;
}

.phone-card-info {
  background-color: gray;
  order: 2;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 100%;
}
.first-nav-col {
}

.main-body-phone-col {
}

.first-nav {
}

.second-nav {
}
